/*
* Default styles
*/
h1, h2 {
  font-weight: 400;
}

h1 {
  text-align: center;
  margin: 0 0 32px;
}


/*
* Header
*/
body {

  min-height: 100vh;
  margin: 0;
  background-color: #f3f3f4;
}

.app {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #001a38;
  color: #f3f3f4;
  padding: 32px;
}

.command {
  background: #1a3452;
  color: #fff;
  font-family: monospace;
  margin: 12px auto;
  border-radius: 2px;
  padding: 12px 62px;
  box-sizing: border-box;
}

.description {
  margin-top: 24px;
}

section.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

section.nav a:hover {
  background: #294a70;
}
section.nav a {
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  background: #1a3452;
  border-radius: 3px;
}
section.nav a:not(:last-child) {
  margin-right: 8px;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.example {
  display: flex;
  margin: 3rem 0;

}

.example .window {
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.example .info {
  margin-left: 1rem;
  width: 35%;
  padding: 0 1rem;
}
.example .info h2 {
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 600px){
  section.nav {
    flex-direction: column;
  }
  section.nav > * {
    margin-bottom: 1rem;
  }
  .container {
    padding: 0.5rem;
  }
  .example {
    flex-direction: column;
  }

  .example .info {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }

}
